*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 750px;
    background-image: linear-gradient(#380036, #0CBABA);
}

/* nav{
    width: 100%;
    height: 75px;
    line-height: 75px;
    padding: 0px 100px;
    position: fixed;
    background: rgb(54,162,117);
    background: linear-gradient(90deg, rgba(54,162,117,1) 0%, rgba(147,113,166,1) 48%, rgba(51,52,134,1) 100%);
    box-shadow: 0px 2px 20px;
}

nav .logo p{
    font-size: 30px;
    font-weight: bold;
    float: left;
    color: wheat;
    letter-spacing: 1.5px;
    cursor: pointer;
}
nav ul{
    float: right;
}
nav li{
    list-style: none;
    display: inline;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
    padding: 0px 30px;
    color: wheat;
} */

/*Form section */

.container{
    max-width: 650px;
    padding: 28px;
    margin: 0 28px;
    border-radius: 10px;
    overflow: hidden;
    background: rgba(0,0,0,0.2);
    box-shadow: 0 15px 20px rgba(0,0,0,0.6);
}
h1{
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    color: #fff;
    padding-bottom: 8px;
    border-bottom: 1px solid silver;
}
.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px 0;
}
.input-box{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 15px;
}
.input-box:nth-child(2n){
    justify-content: end;
}
.input-box label{
    width: 95%;
    color: #fff;
    font-weight: bold;
    margin: 5px 0;
}
.input-box input{
    height: 40px;
    width: 95%;
    padding: 0 10px;
    border-radius: 1px solid #ccc;
    outline: none;
}
.input-box .cboxs{
    height: 25px;
}
.button-container{
    margin: 15px 0;
}
.button-container button{
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    display: block;
    font-size: 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(to right, #aa076b, #61045f );
    cursor: pointer;
    transform: 0.3s;
}
.button-container button:hover{
    background-image: linear-gradient(to right, #61045f, #aa076b);
}